#############################
# build directory
#############################

build/
cmake-build-*
out/

#############################
# excutable / binaries 
#############################
*.o
*.out
*.so
*.out
*.exe
*.obj
*.a
*.lib
*.dll